.App {
  text-align: left;
  padding: 5vh 10vw;
}

h1 {
  font-size: 2rem;
  margin: 0 25px;
}

h2 {
  color: gray !important;
  font-size: 1.5rem;
  margin: 20px 25px 50px;
}

.ui.form .field {
  display: flex !important;
  align-items: center;
  width: 75%;
  margin: 30px 0;
}

.data-field {
  top: -15px;
}

.ui.fluid.button, .ui.fluid.buttons {
  margin: 10px 0 0 !important;
}

input {
  border: none !important;
  border-bottom: solid 1px black !important;
  border-radius: 0 !important;
}

.ui.form p {
  margin: 0 25px 50px;
}

.field .ui, label {
  margin: 0 25px !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
